.main{width:80%;margin-left:auto;margin-right:auto;}
.top {width:1000px; margin-left:auto;margin-right:auto;}
h1 {color:black; font-family:tahoma; float:left; font-size:15px;padding:5px 25px 10px 150px; }

.menu {width:750px; margin-left:auto;margin-right:auto;}
li {color:#cecece; display:inline-block; padding:15px 20px 10px 10px; float:left;}

.cart {float:right; padding-right:140px;padding-top:5px; }

.header {width:1000px; clear:both;margin-left:auto;margin-right:auto;}
h3 {width:500px; text-align:center; color:#cecece; font-family:arial; font-size:15px; margin:40px auto; border-bottom: 1px solid #efefef; line-height:1px; }
h3, span { background-color:white; padding:0 10px; }

.latest {width:750px; margin-left:auto;margin-right:auto; color:#cecece; font-family:tahoma; font-size:7px;text-align:center;}
.popular {width:750px; margin-left:auto;margin-right:auto; color:#cecece; font-family:tahoma; font-size:7px;text-align:center; }
.img {width:125px; height:160; border:2px solid #efefef; display:inline-block; padding:20px 20px 20px 20px; margin-right:40px;}

.brand {width:650px; margin-left:auto; margin-right:auto;}
.img1 {display:inline-block;  margin-top:25px; margin-left:9px; margin-right:9px; margin-bottom:25px;} 